*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: lightcoral;
}
.Angela-text{
    padding: 3rem;
    margin: 4rem;
    text-align: justify;
    min-height: 80vh;
}
.Angela-text a{
    padding: ;
}