*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: lightcoral;
}
.peace-text {
    padding: 3rem;
    margin: 4rem;
    text-align: justify;
    min-height: 70vh;
}


footer{
    min-height: 10vh;
}